.discord_label {
    transition: all 0.5s;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    display: inline-block;
    
    svg {
        transition: all 0.5s;
        vertical-align: middle;
        color: white;
        height: 28px;
        width: 28px;      
        
    }
}
.discord_label:hover {
    color: var(--accent-color);
    svg {
        color: #7289da;
    }
}
.discord_sector {
    padding: 1rem;
    text-align: center;
    backdrop-filter: blur(3px);
    
}
.discord_status {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 20rem;

}

.discord_avatar {
    height: 4rem;
    border-radius: 100%;
    border: 3px solid #0000;
}

.discord_status_online {
    border-color: #287e29f0;
}

.discord_status_offline {
    border-color: #6b6b6bf0;
}

.discord_status_idle {
    border-color: #ccb63cf0;
}

.discord_status_dnd {
    border-color: #7e2828f0;
}

.discord_info {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 1rem;
}
.discord_name {
    font-size: 1.8rem;
    letter-spacing: 1px;
    min-width: fit-content;
    padding-left: 0.6rem;
}
.discord_activities {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discord_activity {
    width: 100%;
    display: flex;
    
    text-align: left;
    flex-direction: row;

}
.discord_activity_img {
    height: 3rem;
    border-radius: 20%;
    padding: 0.4rem;
}

.discord_activity_info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.discord_activity_name {
font-size: 1.2rem;
}

.discord_activity_time {   
    color: #2dcf48;
    padding-left: 0.5rem;
}
.discord_activity_state, .discord_activity_details {
    color: var(--dark-color);
}