<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zizazr's bio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index_discord.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <script src="{{ url_for('static', filename='scripts/star_particles.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/particles.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/0x5841524f4e/js-lanyard/lanyard.js"></script>

    
    {{ moment.include_moment() }}
    {{ moment.locale(page_lang) }}

    <meta property="og:title" content="Zizazr's bio" />
    <meta property="og:description" content="Website about me" />
    <meta property="og:url" content="https://zizazr.art/" />
    <meta property="og:locale" content="ru_RU">
    <meta property="og:locale:alternate" content="ru_RU">

</head>

<body>
    <canvas id="stars"></canvas>
    {% from "icons.macro" import icon %}
    <header class="border">
        <div class="left_sector">
            <span class="site_title">Zizazr</span>
            <span class="page_lang">{{ page_lang }}</span>
        </div>
        <div class="right_sector">
            <div class="links">
                <a href="https://discord.com/users/zizazr" class="link link_discord">
                    {{ icon("discord", class="link_img") }}
                </a>
                <a href="https://t.me/zizazr" class="link link_telegram">
                    {{ icon("telegram", class="link_img")}}
                </a>
                <a href="https://steamcommunity.com/id/zizazr/" class="link link_steam">
                    {{ icon("steam", class="link_img")}}
                </a>
                <a href="https://github.com/Zizazar" class="link link_github">
                    {{ icon("github", class="link_img")}}
                </a>
                <a href="https://zizazr.itch.io/" class="link link_itch">
                    {{ icon("itch", class="link_img")}}
                </a>
            </div>
            <div class="toggle_theme">
                <i class="fa-solid fa-moon toggle_theme_img" aria-hidden="true"></i>
            </div>
        </div>
        
        <script>
            $('.toggle_theme').click(() => {
                $('.toggle_theme .fa-solid').toggleClass('fa-sun fa-moon rotate');
            });
            $('.page_lang').click(() => {
                jQuery.getJSON("{{ url_for('change_language', l=next_lang) }}", (data) => {
                    document.cookie = 'lang=' + data.new
                    location.reload()
                })

            })
        </script>
    </header>
    <main>
        <div class="content">
            <p class="about">
                <span class="about_text">{{ content.bio.title }}</span>
                <span class="about_desc">{{ content.bio.desc|safe }}</span>
            </p>
            <hr>
            <div id="Projects">
                <span class="title">{{ content.projects_title }}</span>
                <div class="projects_list">
                    {% for project in content.projects %}
                    <div class="project_item border">
                        <div class="project_header">
                            <div class="project_info">
                                <span class="project_name">{{project.name}}</span>
                                <span class="project_started"><i class="fa-solid fa-calendar-days"></i> {{project.start_time}}</span>
                            </div>
                            <div class="project_links">
                                {% for link in project.links %}
                                <a href="{{ link.url }}" class="project_link">{{ icon(link.icon, class="project_link_icon") }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <span class="project_desc">{{project.desc|safe}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div id="Languages">
                <span class="title">{{ content.languages_title }}</span>
                <div class="languages_list">
                    {% for lang in content.languages %}
                    <div class="language_item border rang_{{ lang.rang }}">
                        {{ icon(lang.icon, class="language_icon") }}
                        <span class="language_name">{{ lang.name }}</span>
                        <span class="language_time">{{ moment(lang.start_time).fromNow(true) }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div id="Tools">
                <span class="title">{{ content.tools_title }}</span>
                <div class="languages_list">
                    {% for tool in content.tools %}
                    <div class="language_item border rang_{{ tool.rang }}">
                        {{ icon(tool.icon, class="language_icon") }}
                        <span class="language_name">{{ tool.name }}</span>
                        <span class="language_time">{{ moment(tool.start_time).fromNow(true) }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            
        </div>
        <script>
            lanyard({
                userId: "{{ content.discord_id }}",
                socket: true,
                onPresenceUpdate: update_discord_data // presenceData
            })

            const DISCORD_CDN_BASE = "https://cdn.discordapp.com"

            function update_discord_data(data) {
                $(".discord_name").text(data.discord_user.display_name)
                $(".discord_avatar")
                    .attr('src', `${DISCORD_CDN_BASE}/avatars/${data.discord_user.id}/${data.discord_user.avatar}` )
                    .attr('class', "discord_avatar discord_status_"+ data.discord_status)
                $(".discord_activities").empty()
                data.activities.forEach(activity => {
                    $(".discord_activities").append($("<div>").addClass('discord_activity border').append(
                        $("<img>").addClass('discord_activity_img').attr('src', `${DISCORD_CDN_BASE}/app-assets/${activity.application_id}/${activity.assets.large_image}.png`),
                        $("<div>").addClass('discord_activity_info').append(
                            $("<span>").addClass("discord_activity_name").text(activity.name),
                            $("<span>").addClass('discord_activity_details').text(activity.details),
                            $("<span>").addClass('discord_activity_state').text(activity.state),
                            $("<span>").addClass('discord_activity_time').attr('data-id', activity.id)
                        )
                    ))
                });
                
                


                setInterval(() => {
                    data.activities.forEach(activity => {
                        var duration = moment.utc(moment().diff(activity.timestamps.start)).format("H:mm:ss");
                        $(`.discord_activity_time[data-id='${activity.id}']`).html(duration)
                    });
                }, 1000)
            }

        </script>
        <div class="sidebar">
            <div class="discord_sector border">
                <a class="discord_label"  href="https://discord.com/users/zizazr">
                    {{ icon("discord") }} Discord
                </a>
                <hr>
                <div class="discord_status">
                    <div class="discord_info">
                        <img src="https://cdn.discordapp.com/embed/avatars/0.png" alt="DS Avatar" class="discord_avatar">
                        <span class="discord_name">Zizazr</span>
                    </div>
                    <div class="discord_activities">
                            
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>