<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zizazr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index_discord.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/icons.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/0x5841524f4e/js-lanyard/lanyard.js"></script>
</head>

<body>
    {% from "icons.macro" import icon %}

    <header class="border">
        <span class="site_title">Zizazr</span>
        <div class="links">
            <a href="https://discord.com/users/zizazr" class="link link_discord">
                {{ icon("discord", class="link_img") }}
            </a>
            <a href="https://t.me/zizazr" class="link link_telegram">
                {{ icon("telegram", class="link_img")}}
            </a>
            <a href="https://steamcommunity.com/id/zizazr/" class="link link_steam">
                {{ icon("steam", class="link_img")}}
            </a>
            <a href="https://github.com/Zizazar" class="link link_github">
                {{ icon("github", class="link_img")}}
            </a>
        </div>
    </header>
    <main>
        <div class="content">
            <p class="about">
                <span class="about_text">Hello! I'm Zizazr</span>
                <span class="about_desc">I'am 17 years old developer who likes to explore interesting technologies and projects.</span>
            </p>
            <hr>
            <div id="Projects">
                <span class="title">Projects</span>
                <div class="projects_list">
                    <div class="project_item border">
                        <span class="project_name">Floppa Land test</span>
                        <span class="project_started">Started at: 21.02.2022</span>
                        <span class="project_desc">A Minecraft project with lots of mods and custom content. There is also a launcher based on Gravit Launcher.</span>
                    </div>
                </div>
            </div>
            <hr>
            <div id="Languages">
                <span class="title">Languages</span>
                <div class="languages_list">
                    <div class="language_item border">
                        {{ icon("python", class="language_icon") }}
                        <span class="language_name">Python</span>
                        <span class="language_time">3 years</span>
                    </div>
                    <div class="language_item border">
                        {{ icon("java", class="language_icon") }}
                        <span class="language_name">Java</span>
                        <span class="language_time">1 mounth</span>
                    </div>
                </div>
            </div>

        </div>
        <script>
            lanyard({
                userId: "669963214544437278",
                socket: true,
                onPresenceUpdate: update_discord_data // presenceData
            })

            function update_discord_data(data) {
                $(".discord_name").text(data.discord_user.display_name)
                $(".discord_avatar")
                    .attr('src', `https://cdn.discordapp.com/avatars/${data.discord_user.id}/${data.discord_user.avatar}` )
                    .attr('class', "discord_avatar discord_status_"+ data.discord_status)
                $(".discord_activities").empty()
                data.activities.forEach(activity => {
                    $(".discord_activities").append($("<div>").addClass('discord_activity border').append(
                        $("<img>").addClass('discord_activity_img').attr('src', `https://cdn.discordapp.com/app-assets/${activity.application_id}/${activity.assets.large_image}.png`),
                        $("<div>").addClass('discord_activity_info').append(
                            $("<span>").addClass("discord_activity_name").text(activity.name),
                            $("<span>").addClass('discord_activity_details').text(activity.details),
                            $("<span>").addClass('discord_activity_state').text(activity.state),
                            $("<span>").addClass('discord_activity_time').attr('data-id', activity.id)
                        )
                    ))
                });
                
                


                setInterval(() => {
                    data.activities.forEach(activity => {
                        var duration = moment.utc(moment().diff(activity.timestamps.start)).format("H:mm:ss");
                        $(`.discord_activity_time[data-id='${activity.id}']`).text(duration)
                    });
                }, 1000)
            }

            
        </script>
        <div class="sidebar">
            <div class="discord_sector border">
                <a class="discord_label"  href="https://discord.com/users/zizazr">
                    {{ icon("discord") }} Discord
                </a>
                <hr>
                <div class="discord_status">
                    <img src="https://cdn.discordapp.com/embed/avatars/0.png" alt="DS Avatar" class="discord_avatar">
                    <div class="discord_info">
                        <span class="discord_name">Zizazr</span>
                        <div class="discord_activities">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>